<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/public/style.css">
  <title>Firs WebGL</title>
</head>

<body>

  <script src="/three.js"></script>
  <script src="/engine.js"></script>
</body>

</html>